<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Ayn Thor Launcher"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true">

        <!-- Primary launcher (default display HOME) -->
        <activity
            android:name=".PrimaryHomeActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.ThorLauncher">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SecondaryHomeActivity"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:taskAffinity="com.launcher.aynthords.secondary"
            android:exported="true"
            android:theme="@style/Theme.ThorLauncher">

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SECONDARY_HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".OdinKeyReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
